<div id="credits-logos">
        <a target="_blank" href="https://github.com/Keplyx"><img src="Images/GitHub_Logo.png" alt="Avatar"  width="100" height="41"></a>
        <a target="_blank" href="http://steamcommunity.com/id/Keplyx/"><img src="Images/Steam_logo.png" alt="Avatar"  width="100" height="100"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCQzxHnQ5yeaWQwQUY0ILSNw"><img src="Images/Youtube_logo.png" alt="Avatar"  width="100" height="100"></a>
        <a target="_blank" href="http://gamejolt.com/@Keplyx"><img src="Images/Gamejolt_logo.png" alt="Avatar"  width="100" height="100"></a>
        <a target="_blank" href="https://forums.alliedmods.net/member.php?u=278969"><img src="Images/Alliedmodders_logo.png" alt="Avatar"  width="100" height="100"></a>
</div>
<a target="_blank" href="mailto:keplyx@gmail.com"><span class="fa fa-envelope"></span> Send Email</a> 
